<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Dashboard</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,500&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.2/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.2/css/v4-shims.css">
    <link rel="stylesheet" href="https://www.bloodconnect.org/css/bootstrap.min.css">
    
    <link rel="apple-touch-icon" sizes="180x180" 
        href="{{ url_for('static', filename='apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='logo.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='logo.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='site.webmanifest') }}">

</head>
<body>

    <section class="sub-header">
        <nav>
            <a href="/{{ username }}/dashboard"><img src="{{ url_for('static', filename='logo.png') }}" alt="LyricLullaby"></a>
            <div class="search-nav">
                
                <div class="nav-links" id="navLinks">
                
                    <i class="fa fa-times-circle" onclick="hideMenu()"></i>
                    <ul>
                        <li><a href="/{{ username }}/dashboard">Home</a></li>
                        {% if isAdmin == True %}
                            <li><a href="/{{ username }}/admin_dashboard">Admin Profile</a></li>
                        {% else %}

                            {% if isCreater == True %}
                            <li><a href="/{{ username }}/creator_dashboard">Creator Profile</a></li>
                            {% else %}
                                <li><a href="/{{ username }}/register_as_creator">Register as Creator</a></li>
                            {% endif %}
                        {% endif %}  
                                                
                        <li><a href="/{{ username }}/search">Search Songs</a></li>
                        <li><a href="/logout">Logout</a></li>
                    </ul>
                </div>
            </div>
            <i class="fa fa-bars" onclick="showMenu()"></i>
        </nav>
        <h1>{{ track.title }}</h1>

    </section>

    <section class="dashboard-content">
        <center>
            <section class="compatible_donor">
            
                <div class="row" style="display: flex;flex-direction: column;">
                    <!-- Section 2: Recommended Tracks -->
                    <!-- Section 2: Recommended Tracks -->
                    <h3>🎵 {{ track.title }}</h3>
                    <div class="song-list" >
                        <div class="type-of-stream" style="display: flex; max-width: 250px; margin-top: 10px;margin-bottom: 10px; margin-left: 50px;">
                            <div class="song-item" style="max-width: 200px;" >
                                <img src="{{ track.thumbnail_url }}" alt="{{ track.title }} Thumbnail">
                                <h4>{{ track.title }}</h4>
                                <h6 style="color: brown;">Rating : {{ track.ratings }}</h6>
                                <button class="hero-btn2" onclick="readLyrics()">Read Lyrics</button>
                                <button class="hero-btn2" style="margin-top: 5px; margin-bottom: 5px;" onclick="playAudio('{{ track.title }}', '{{ track.file_path }}')">Play Audio</button>
                                <audio id="audioPlayer" controls style="display: none;"></audio>
                                
                                <form id="rating-form" method="post" style="display: none;">
                                    <input type="hidden" id="song-id" name="song_id" value="">
                                    <input type="hidden" id="rating-value" name="rating" value="">
                                </form>
                                <div class="rating-stars" data-song-id="{{ track.song_id }}">
                                    {% for i in range(1, 6) %}
                                        {% if user_rating and i <= user_rating.rating_value %}
                                            <span class="star" data-value="{{ i }}" style="color: yellow;">&#9733;</span>
                                        {% else %}
                                            <span class="star" data-value="{{ i }}" onclick="rateSong('{{ track.song_id }}', '{{ i }}')">&#9733;</span>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                <div>
                                    <button class="hero-btn2" onclick="togglePlaylistForm()">Add to Playlist</button>
                                </div>
                                
                            </div>

                        </div>
                    </div>
                </div>
                

                <div class="lyrics" id="lyrics" style="display: none;">
                    <h2>Lyrics</h2>
                    <p><pre>{{ track.lyrics }}</pre></p>
                </div>
            </section>

            <section class="compatible_donor">
                <!-- Section for add playlist form -->
                <div id="playlistForm" style="display: none;">
                    <form id="addToPlaylistForm" method="post">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="playlistOption" value="existing" id="existingPlaylistOption" onclick="toggleExistingPlaylistForm()">
                            <label class="form-check-label" for="existingPlaylistOption">Add to existing playlist</label>
                        </div>
                    
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="playlistOption" value="new" id="newPlaylistOption" onclick="toggleNewPlaylistForm()">
                            <label class="form-check-label" for="newPlaylistOption">Create New Playlist</label>
                        </div>
                    
                        <!-- Existing Playlist Form (Initially Hidden) -->
                        <div id="existingPlaylistForm" style="display: none; margin-top: 10px;">
                            <label for="existingPlaylist" class="form-label">Select Playlist:</label>
                            <select class="form-select" id="existingPlaylist" name="existingPlaylist">
                                <!-- Populate this dropdown with playlist names dynamically -->
                                {% for playlist in user_playlists %}
                                    <option value="{{ playlist.playlist_id }}">{{ playlist.playlist_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    
                        <!-- New Playlist Form (Initially Hidden) -->
                        <div id="newPlaylistForm" style="display: none; margin-top: 10px; max-width: 60%;">
                            <label for="newPlaylistName" class="form-label">Playlist Name:</label>
                            <input type="text" class="form-control" id="newPlaylistName" name="newPlaylistName" >
                    
                            <label for="newPlaylistThumbnail" class="form-label">Thumbnail URL:</label>
                            <input type="text" class="form-control" id="newPlaylistThumbnail" name="newPlaylistThumbnail">
                        </div>
                    
                        <!-- Add button -->
                        <button style="margin-top: 15px;" class="btn btn-primary" type="submit">Add</button>
                    </form>
                    
                </div>
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>


            </section>
        </center>


    <section class="footer">
        <h4>
            About us
        </h4>
        <p>
            LyricLullaby is your musical haven, connecting you with your favorite tunes. Immerse yourself in the melodies,
            create playlists, and share the magic of music. Your go-to platform for soulful sounds and rhythmic bliss!
        </p>
        
        <div class="icons">
            <i class="fa fa-facebook"></i>
            <i class="fa fa-twitter"></i>
            <i class="fa fa-instagram"></i>
            <i class="fa fa-linkedin"></i>
        </div>

    </section>

    <!-- JS For Toggle menu -->
    <script>
        var navLinks = document.getElementById("navLinks")

        function showMenu() {
            navLinks.style.right = "0";
        }

        function hideMenu() {
            navLinks.style.right = "-200px";
        }

        function readLyrics() {
            // Implement the functionality to display lyrics as per your requirement
            var lyric = document.getElementById('lyrics');
            lyric.style.display="block";
        }
        function toggleSearchBar() {
            var searchInput = document.getElementById("searchInput");
            searchInput.classList.toggle("expanded");

            // If the search bar is expanded, focus on the input field
            if (searchInput.classList.contains("expanded")) {
                searchInput.focus();
            }
        }
        function playAudio(title, fullFilePath) {
            var audioPlayer = document.getElementById('audioPlayer');
            var staticIndex = fullFilePath.indexOf('/static/');
            
            if (staticIndex !== -1) {
                var filePathAfterStatic = fullFilePath.substring(staticIndex + 8); // 8 is the length of "/static/"
                audioPlayer.src = "/static/" + filePathAfterStatic; // Adjust this path based on your project structure
                audioPlayer.play();
                audioPlayer.style.display="block"
            } else {
                console.error("Invalid file path format. Couldn't find '/static/'.");
            }
        }

        function rateSong(songId, ratingValue) {
            // Set the song ID and rating value in the hidden form fields
            document.getElementById('song-id').value = songId;
            document.getElementById('rating-value').value = ratingValue;

            // Update the style of the stars
            for (let i = 1; i <= 5; i++) {
                const star = document.querySelector(`.rating-stars[data-song-id="${songId}"] .star[data-value="${i}"]`);
                if (i <= ratingValue) {
                    star.style.color = 'yellow';
                } else {
                    star.style.color = 'black';  // Change to the default star color
                }
            }

            // Submit the form
            document.getElementById('rating-form').submit();
        }

        function togglePlaylistForm() {
        var playlistForm = document.getElementById("playlistForm");
        playlistForm.style.display = "block";
    }

    function toggleExistingPlaylistForm() {
        var existingPlaylistForm = document.getElementById("existingPlaylistForm");
        var newPlaylistForm = document.getElementById("newPlaylistForm");

        existingPlaylistForm.style.display = "block";
        newPlaylistForm.style.display = "none";
    }

    function toggleNewPlaylistForm() {
        var existingPlaylistForm = document.getElementById("existingPlaylistForm");
        var newPlaylistForm = document.getElementById("newPlaylistForm");

        existingPlaylistForm.style.display = "none";
        newPlaylistForm.style.display = "block";
    }

    function addToPlaylist() {
        // Implement logic to handle adding to existing or new playlist
        // You can use JavaScript to fetch form data and send it to the server (via AJAX) for processing
        // For simplicity, let's assume you have a function addToPlaylistOnServer(formData) for this purpose

        var formData = new FormData(document.getElementById("addToPlaylistForm"));
        addToPlaylistOnServer(formData);
    }


    </script>
</body>


</html>
